body,html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;

}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13{
  position: relative;;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* fixed=parallax
    scroll=normal*/
}
.pimg1{
  min-height: 100%;
  background-image: url('../img1/广州.jpg')
}

.pimg2{
  min-height: 400px;
  background-image: url('../img1/3大佛寺2.jpg')
}
.pimg3{
  min-height: 400px;
  background-image: url('../img1/1农讲所.jpg');
}
.pimg4{
	min-height: 400px;
	background-image: url('../img1/4大教堂.jpg');
}

.pimg5{
	min-height: 400px;
	background-image: url('../img1/1.广州塔.jpg');
}

.pimg6{
	min-height: 400px;
	background-image: url('../img1/1余荫山房.jpg');
}

.pimg7{
	min-height: 400px;
	background-image: url('../img1/1番禺学宫.jpg');
}

.pimg8{
	min-height: 400px;
	background-image: url('../img1/6陈家祠.jpg');
}

.pimg9{
	min-height: 400px;
	background-image: url('../img1/1对山园.jpg');
}

.pimg10{
	min-height: 400px;
	background-image: url('../img1/7沙面.jpg');
}

.pimg11{
	min-height: 400px;
	background-image: url('../img1/六榕寺.jpg');
}

.pimg12{
	min-height: 400px;
	background-image: url('../img1/2宝墨园2.jpg');
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-dark{
  background-color:#111;
  color: #FFF;
}
.section-light{
  background-color: #FFF;
  color: #111;
}
.ptext{
  position: absolute;
  top:50%;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border{
  color: black;
  padding: 20px;
  font-weight: 900;
}
.ptext .border .trans{
  background-color: transparent;
}
@media only screen and (max-device-width: 1366px){
  .pimg1, .pimg2, .pimg3{
    background-attachment: scroll;
  }

    .ptext{
        letter-spacing: 0.188em;
        font-size: 1.125em;
        text-align: center;
    }

    .ptext .border{
        color: black;
        padding: 0.625em;
    }
}
@media only screen and (min-device-width: 1366px){
  .ptext{
    font-size: 2vw;
    letter-spacing: 10px;
  }
  .ptext .border{
    padding: 25px;
  }
  
}
